# ./services/auth/.env.example

# -------------------------------------------------------------------------
# Configuration prefix

CONFIG_PREFIX=

# -------------------------------------------------------------------------
# Server

GRPC_HOST=0.0.0.0
GRPC_PORT=50051

# Options [ms, s, m, h]
GRPC_SHUTDOWN_TIMEOUT=10s