# ./services/auth/.env.example

# -------------------------------------------------------------------------
# Configuration prefix

SERVICE=AUTH

# -------------------------------------------------------------------------
# Server

AUTH_GRPC_HOST=0.0.0.0
AUTH_GRPC_PORT=50051

# Options [ms, s, m, h]
AUTH_GRPC_SHUTDOWN_TIMEOUT=10s

# -------------------------------------------------------------------------
# LOGGER

# Options [dev, prod]
AUTH_LOGGER_FORMAT=dev
