# ./services/gatewat/.env.example

# -------------------------------------------------------------------------
# Configuration prefix

CONFIG_PREFIX=

# -------------------------------------------------------------------------
# Server

SERVER_HOST=0.0.0.0
SERVER_PORT=8080

# Options [ms, s, m, h]
SERVER_SHUTDOWN_TIMEOUT=10s